@charset "UTF-8";

/*
    Minhas cores 
    Verde: #49a09d
    Lilás: #5f2c82
*/



* {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
}

body, html { 
  background-color: #5f2c82;
  height: 100vh;
  width: 100vw;

}

main { 
  position: relative;
  height: 100vh;
  width: 100vw;
}

#login { 
  top: 50%;
  left: 50%;
  position: absolute;
  background-color: white;
  width: 255px;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  transform: translate(-50%, -50%);
}

#login > #imagem {
  display: block;
  background: #5f2c82 url(../imagem/imagem-cel.jpg) no-repeat;
  height: 200px;
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.555);
  
}

section#login > div#formulario {
  display: block;
  padding: 10px;
}

div#formulario > h1 {
  text-align: center;
  margin-bottom: 10px;
  
}

div#formulario > p {
  font-size: 0.8em;
}

div.campo > span {
  color: white; 
  font-size: 2em;
  width: 40px;
}

div.campo > input {
  background-color: #66b1ae;
  font-size: 1em;
  height: 100%;
  width: calc(100% - 44.8px);
  border: 0px;
  border-radius: 8px;
  padding: 4px;
  transform: translateY(-5px);
}

div.campo > input:focus-within {
  background-color: white;
  outline: none;
}

form > div.campo {
  background-color: #5f2c82;
  display: block;
  width: 98%;
  height: 40px;
  border-radius: 8px;
  margin: 5px 0px;
}

form label {
  display: none;
}

.enter { 
  display: block;
  font-size: 1em;
  width: 100%;
  height: 40px;
  background-color:#49a09d ;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.enter:hover {
  background-color: #0a4644;
}

.botao {
  display: block;
  text-align: center;
  font-size: 1em;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  background-color: white;
  color: #49a09d;
  border: 1px solid #0a4644;
  text-decoration: none;
  padding-top: 10px;
  margin-top: 5px;

}

.botao > span {
  font-size: 1em;
}

.botao:hover{
  background-color: #0a4644;
}

